<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns       =    "http://www.w3.org/ns/widgets"
        xmlns:gap   =    "http://phonegap.com/ns/1.0"
       
        id          =     "com.prantikv.buildtest"
        versionCode =   "1"
        version     =    "1.0.0">
        <name>Ionic Admob on build</name>
  <description>
       demo app for admob on ionic
    </description>
  <author email="chunkylover53@aol.com" href="http://prantikv.com/">
      Prantik Vaghela
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <gap:platform name="android" />
   
  <gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io"/>
  
 <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
   
    <preference name="android-minSdkVersion" value="16" />
 
  
</widget>
